<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/
bulma.min.css"
      rel="stylesheet"
    />
</head>
<body>
    <form action="/users/register" method="POST">
      <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="name">UserName</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control is-expanded has-icons-left">
                <input class="input" type="text" name="name" id="name" placeholder="Name">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </p>
            </div>
        </div>
      </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" for="PhoneNo">PhoneNo</label>
            </div>
            <div class="field-label">
            </div>
            <div class="field-body">
              <div class="field is-expanded">
                <div class="field has-addons">
                  <p class="control">
                    <a class="button is-static">
                      +1
                    </a>
                  </p>
                  <p class="control is-expanded">
                    <input class="input" type="tel" name="phoneNo" id="phoneNo" placeholder="Your phone number">
                  </p>
                </div>
                <p class="help">Do not enter the first zero</p>
              </div>
            </div>
          </div>
       
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label" for="email">Email</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <input class="input is-success" type="text" name="email" id="email" placeholder="Enter your email">
                    </div>
                    <p class="help is-danger">
                      This field is required
                    </p>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label" for="password">Password</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input is-danger" type="text" name="password" id="password" placeholder="Enter your password">
                      </div>
                      <p class="help is-danger">
                        This field is required
                      </p>
                    </div>
                  </div>
                </div>

              <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label" for="location">Location</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control is-expanded has-icons-left">
                        <input class="input" type="text" name="location" id="location" placeholder="Name">
                        <span class="icon is-small is-left">
                          <i class="fas fa-user"></i>
                        </span>
                      </p>
                    </div>
                </div>
              </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                      <!-- Left empty for spacing -->
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <button class="button is-primary">
                            Sumbit
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
    </form>
</body>
</html>