<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/
bulma.min.css"
      rel="stylesheet"
    />

    <style>
      .loginForm {
        margin-top: 100px;
        width: 50%;
        margin-left: 100px;
        height: 500px;
        margin-bottom: 100px;
        overflow: scroll;
        margin-left: 250px;
      }
      .inputWidth {
        width: 400px;
      }
      .headerOutline {
        outline: 1px solid gainsboro;
        height: 60px;
      }
      .loginButton {
        width: 400px;
      }
      .signUp {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <!---------- NAV BAR  --------------->

    <nav
      class="navbar  is-fixed-top headerOutline"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/homeServices"
            ><br />
            <p><i class="fas fa-home"></i></p>
            Home
          </a>
          <a class="navbar-item" href="/homeServices/howItWorks">
            <p><i class="fas fa-network-wired"></i></p>
            How It Works
          </a>
          <a class="navbar-item" href="/homeServices/menu">
            <p><i class="fas fa-book-open"></i></p>
            Menu
          </a>
          <a class="navbar-item" href="/homeServices/new">
            <div><i class="fas fa-hamburger"></i></div>
            <div>Sell Food</div>
          </a>
          <a class="navbar-item" href="/homeServices/sellItems">
            <p><i class="fas fa-pizza-slice"></i></p>
            Buy Food
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Other Services
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item">
                About Us
              </a>
              <a class="navbar-item">
                Maid Services
              </a>
              <a class="navbar-item">
                Child Care Services
              </a>
              <hr class="navbar-divider" />
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- SIGN UP FORM -->
    <div class="loginForm input">
      <form action="/users/register" method="POST">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="name">User Name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control is-expanded has-icons-left">
                <input
                  class="input inputWidth"
                  type="text"
                  name="name"
                  id="name"
                  placeholder="Name"
                />
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="PhoneNo">Phone Num</label>
          </div>
          <div class="field-label"></div>
          <div class="field-body">
            <div class="field is-expanded">
              <div class="field has-addons">
                <p class="control">
                  <a class="button is-static">
                    +1
                  </a>
                </p>
                <p class="control is-expanded">
                  <input
                    class="input inputWidth"
                    type="tel"
                    name="phoneNo"
                    id="phoneNo"
                    placeholder="Your phone number"
                  />
                </p>
              </div>
              <p class="help">Do not enter the first zero</p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="email">Email</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input
                  class="input is-success inputWidth"
                  type="text"
                  name="email"
                  id="email"
                  placeholder="Enter your email"
                />
              </div>
              <p class="help is-danger">
                This field is required
              </p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="password">Password</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input
                  class="input is-danger inputWidth"
                  type="text"
                  name="password"
                  id="password"
                  placeholder="Enter your password"
                />
              </div>
              <p class="help is-danger">
                This field is required
              </p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="location">Location</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control is-expanded has-icons-left">
                <input
                  class="input inputWidth"
                  type="text"
                  name="location"
                  id="location"
                  placeholder="Name"
                />
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <!-- Left empty for spacing -->
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-primary">
                  Sign Up
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-------------- FOOTER ---------- -->
    <footer class="footer footerHeight">
      <div class="content has-text-centered">
        <div class="columns">
          <div class="column">
            <p>
              <strong>HomeServices App </strong> by <a href="#">Pratz</a> All
              rights reserved 2019.
            </p>
          </div>
          <div class="column">
            <p>Contact Us</p>
            <p>Privacy Policy</p>
            <p>Trems and Conditions</p>
            <p>999-999-8888</p>
          </div>
        </div>
      </div>
    </footer>

    <!---------- Font Awesome ---------->
    <script
      src="https://kit.fontawesome.com/79a1b0e7d3.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
