<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/
bulma.min.css"
      rel="stylesheet"
    />
</head>
<body>
    <form action="/sellItems" method="POST">
        <div class="field">
                <div class="field">
                        <p class="control has-icons-left">
                          <input class="input" type="text" placeholder="Enter your Name">
                          <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                          </span>
                        </p>
                    </div>
                <p class="control has-icons-left has-icons-right">
                  <input class="input" type="email" placeholder="Email">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </p>
             
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="password" placeholder="Password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                    <p class="control has-icons-left">
                      <input class="input" type="number" placeholder="Enter your phone no">
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </p>
                </div>
                <div class="field">
                        <p class="control has-icons-left">
                          <input class="input" type="text" placeholder="Enter your location">
                          <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                          </span>
                        </p>
                    </div>
              <div class="field">
                <p class="control">
                  <button class="button is-success">
                   Sign Up
                  </button>
                </p>
              </div>
        </form>
</body>
</html>