<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/
bulma.min.css"
      rel="stylesheet"
    />
   
   
    <!-- <link rel="stylesheet" href="/css/main.css" />  -->
  </head>

  <style>
      /* .navWidth {
        display: inline-block;
      } */
      .navClass {
        display: flex;
       
      }
      .right {
        text-align: right;
      }
      
      img {  
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 500px;
        margin-top: 20px;
      }
      .howItWorksH1{
          width: 400px;
        text-align: justify;
        margin-top: 200px;
        margin-left: 480px;
        color: darkgreen;
        font-weight: bold;
      }
      .howItWorksP{
          width: 400px;
        text-align: justify;
        /* margin-top: 240px; */
        margin-left: 350px;
        color: darkgreen;
        font-weight: bold;
      }
  </style>
  
  
  <body>
  <div class="navClass has-text-success "> 
    <div>
      <a class="navbar-item" href="/homeServices">
       <p> <i class="fas fa-home"></i></p>
        Home
      </a>    
    </div>
    
    <div >
        <a class="navbar-item"  href="/homeServices/howItWorks"> 
          <p><i class="fas fa-network-wired"></i></p>
          <!-- <p><i class="far fa-chart-network"></i></p> -->
          How It Works
        </a>  
    </div>

    <div >
      <a class="navbar-item" href="/homeServices/new">
        <div><i class="fas fa-hamburger"></i></div>
        <div>SellFood</div>
      </a>     
    </div>

    <div >
      <a class="navbar-item" href="/homeServices/sellItems">
        <p><i class="fas fa-pizza-slice"></i></p> 
        BuyFood
        </a>     
    </div>
<!-- 
           <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                OtherServices
              </a>
      
              <div>
                <a class="navbar-item">
                  MaidService
                </a>
                <a class="navbar-item">
                  Nanny
                </a>
                <a class="navbar-item">
                  PostAnyQueries
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            </div>
          </div>
       -->

        <div class="navbar-item right"> 
          <div class="buttons">
            <a class="button is-primary" href="/users/signUp">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light" href="/users/login">
              Log in
            </a>
         
         </div>
      </div> 
    </div>

    <!--------------- Haeder Image ---------------------->
    <section>
        <div>
            <img src="https://images.pexels.com/photos/616404/pexels-photo-616404.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260.png" />
        </div>
    </section>

  <h1 class="howItWorksH1"> HOW IT WORKS </h1>
  <p class="howItWorksP">
        The idea of 'homeServices' is to provide a marketplace for food. 
        Selles can advertisve the food they make and buyers can savor the food they crave. 
        You can browse the food of your choice, order it and savor it. 
        It is pretty straightforward to order - just click on the food you want and order it after setttig up your login.
  </p>

   <!------------        FONTAWESOME             ---------- -->
   <script src="https://kit.fontawesome.com/79a1b0e7d3.js" crossorigin="anonymous"></script>
  
  </body>
</html>
