<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/
bulma.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <style>
      /* .navWidth {
        display: inline-block;
      } */
      .navClass {
        display: flex;
      }
      .right {
        text-align: right;
      }
  </style>
  
  
  <body>
  <div class="navClass"> 
    <div>
      <a class="navbar-item" href="#">
        Home
      </a>    
    </div>
    
    <div >
        <a class="navbar-item"  href="#"> 
          How It Works
        </a>  
    </div>

    <div >
      <a class="navbar-item" href="/homeServices/new">
        SellFood
      </a>     
    </div>

    <div >
      <a class="navbar-item" href="/homeServices/sellItems">
        BuyFood
        </a>     
    </div>
<!-- 
           <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                OtherServices
              </a>
      
              <div>
                <a class="navbar-item">
                  MaidService
                </a>
                <a class="navbar-item">
                  Nanny
                </a>
                <a class="navbar-item">
                  PostAnyQueries
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            </div>
          </div>
       -->

        <div class="navbar-item right"> 
          <div class="buttons">
            <a class="button is-primary" href="/users/signUp">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light" href="/users/login">
              Log in
            </a>
         
         </div>
      </div> 
 
  

  </div>
  </body>
</html>
