<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/
bulma.min.css" rel="stylesheet">
<style>
    .sellItemForm {
      margin-top: 100px;
        width: 60%;
        margin-left: 100px;
        height: 100%;
        margin-bottom: 100px;
        overflow: scroll;
    }
    .inputWidth {
      width: 400px;
    }
    .headerOutline {
  outline: 1px solid gainsboro;
  height: 60px;
}
</style>
</head>
<body>
  
 
 <!---------- NAV BAR  --------------->

 <nav class="navbar  is-fixed-top headerOutline" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">      
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
    <a class="navbar-item" href="/homeServices"><br>
    <p> <i class="fas fa-home"></i></p>
      Home
    </a>       
    <a class="navbar-item"  href="/homeServices/howItWorks"> 
      <p><i class="fas fa-network-wired"></i></p>   
      How It Works
    </a>     
    <a class="navbar-item"  href="/homeServices/sellItems"> 
      <p><i class="fas fa-book-open"></i></p>    
      Menu
    </a>   
    <a class="navbar-item" href="/homeServices/new">
    <div><i class="fas fa-hamburger"></i></div>
    <div>SellFood</div>
    </a>     
  <a class="navbar-item" href="/homeServices/sellItems">
    <p><i class="fas fa-pizza-slice"></i></p> 
    BuyFood
    </a>     
<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
      Other Services
    </a>
    <div class="navbar-dropdown">
        <a class="navbar-item">
          About Us
        </a>
        <a class="navbar-item">
          Maid Services
        </a>
        <a class="navbar-item">
         Child Care
        </a>
        <hr class="navbar-divider" />
        <a class="navbar-item">
          Report an issue
        </a>
      </div>
    </div>
  </div>
 
  </div>
</nav>


        <!-- NEW FORM -->
        <p> Add All your Items Information</p>
     <div class="sellItemForm input" >
        <form action="/homeServices/foodItems" method="POST">
          <div class="field">
              <label class="label" for="userName">UserName: </label>
              <div class="control">
                <input class="input inputWidth" type="text" placeholder="enter food item name" name="userName" id="userName">
              </div>
      </div>
            <div class="field">
                    <label class="label" for="itemName">ItemName: </label>
                    <div class="control">
                      <input class="input inputWidth" type="text" placeholder="enter food item name" name="itemName" id="itemName">
                    </div>
            </div>
                  
            <div class="field">
                <label class="label" for="price">Price: </label>
                <div class="control">
                    <input class="input inputWidth" type="text" placeholder="enter price" name="price" id="price">
                </div>
            </div>

            <div class="field">
                <label class="label" for="img">Image: </label>
                <div class="control">
                    <input class="input inputWidth" type="text" placeholder="upload food Image" name="img" id="img">
                </div>
                </div>
                <div class="field">
                    <label class="label" for="orderNote">OrderNote: </label>
                    <div class="control">
                        <input class="input inputWidth" type="text" placeholder="what time users can buy your item" name="orderNote" id="orderNote">
                 </div>
                 </div>
                 <div class="field">
                        <label class="label" for="location">Location: </label>
                        <div class="control">
                            <input class="input inputWidth" type="text" placeholder="Enter your Location" name="location" id="location">
                        </div>
                 </div>
                 <div class="field">
                        <label class="label" for="time">Time: </label>
                        <div class="control">
                            <input class="input inputWidth" type="text" placeholder="Enter What time You Post like 9am" name="time" id="time">
                        </div>
                 </div>
                  <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left has-icons-right">
                      <input class="input is-danger" name="email" type="email" placeholder="Email input" value="hello@">
                      <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                      <span class="icon is-small is-right">
                        <i class="fas fa-exclamation-triangle"></i>
                      </span>
                    </div>
                    <p class="help is-danger">This email is required</p>
                  </div>
                    
                  <div class="field">
                    <label class="label" for="description">Description:</label>
                    <div class="control">
                      <textarea class="textarea" placeholder="Enter Food Item Description" name="description" id="description" ></textarea>
                    </div>
                  </div>
            
                  
                  <div class="field is-grouped">
                    <div class="control">
                      <button class="button is-link">Submit</button>
                    </div>
                    <div class="control">
                      <button class="button is-link is-light">Cancel</button>
                    </div>
                  </div>          
        </form>
    </div>


    <!-------------- FOOTER ---------- -->
<footer class="footer footerHeight">
    <div class="content has-text-centered">
        <div class="columns">
            <div class="column">
                <p>
                  <strong>HomeServices App </strong> by <a href="#">Pratz</a> All rights reserved 2019. 
                </p>
              </div>
              <div class="column">
              <p>Contact Us</p>
              <p> Privacy Policy</p>
              <p>Trems and Conditions</p>
              <p>999-999-8888</p>
            
            </div>
        </div>
    </div>
  </footer>

  
  <!---------- Font Awesome ---------->
<script src="https://kit.fontawesome.com/79a1b0e7d3.js" crossorigin="anonymous"></script>
</body>
</html>